<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Fanshawe</h1>

    <!-- triple handlers are shorthand for router view-->
    {{{body}}}

    <h3>I am inside router view</h3>
    <section>
      <h2 class="text-left">Fansawe college</h2>
      <div>Fanshawe is a comprehensive college serving the greater London region by providing flexible learning arrangements and experiential education opportunities developed in response to labour market needs.
            One of Ontario's largest colleges - with four campuses in London, Simcoe, St. Thomas and Woodstock - Fanshawe serves close to half a million people with a promise to educate, engage, empower and excite.
            We offer more than 200 degree, diploma, certificate and apprenticeship programs to 43,000 students each year, helping people unlock their potential and achieve success in a variety of disciplines including applied arts, business, health care, human services, hospitality and technology.
            Fanshawe also plays an important role in providing re-skilling and skill upgrading opportunities for mature learners through the design and delivery of custom training for federally and provincially sponsored trainees, community organizations, sectoral training councils and private sector employers in the business, health, industrial and services sectors.
      </div>
      <h2 class="text-left">Mission Statement</h2>
      <div>Provide pathways to success, an exceptional learning experience and a global outlook to meet student and employer needs</div>
      <h2 class="text-left">Our Values</h2>
      <div>Focus on students, involve our communities, utilize resources wisely, embrace change, engage each other.</div>
      <h2 class="text-left">Our Vision</h2>
      <div>Unlocking Potential.</div>
    </section>
    
    <a href="/user1">user1</a>
    <a href="/user2">user2</a>
  </body>
</html>

