<!DOCTYPE html>
<html>
  <head>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
  </head>
  <body>
    <!-- triple handlers are shorthand for router view-->
    {{{body}}}

    
    <section class="row para">
      <div class="col-md-12 col-sm-12">
      <h2 class="col-md-12 col-sm-12 text-left">Fansawe college</h2>
      <div class="col-md-12 col-sm-12 text-left">Fanshawe is a comprehensive college serving the greater London region by providing flexible learning arrangements and experiential education opportunities developed in response to labour market needs.
            One of Ontario's largest colleges - with four campuses in London, Simcoe, St. Thomas and Woodstock - Fanshawe serves close to half a million people with a promise to educate, engage, empower and excite.
            We offer more than 200 degree, diploma, certificate and apprenticeship programs to 43,000 students each year, helping people unlock their potential and achieve success in a variety of disciplines including applied arts, business, health care, human services, hospitality and technology.
            Fanshawe also plays an important role in providing re-skilling and skill upgrading opportunities for mature learners through the design and delivery of custom training for federally and provincially sponsored trainees, community organizations, sectoral training councils and private sector employers in the business, health, industrial and services sectors.
      </div>
      <h2 class="col-md-12 col-sm-12 text-left">Mission Statement</h2>
      <div class="col-md-12 col-sm-12 text-left">Provide pathways to success, an exceptional learning experience and a global outlook to meet student and employer needs</div>
      <h2 class="col-md-12 col-sm-12 text-left">Our Values</h2>
      <div class="col-md-12 col-sm-12 text-left">Focus on students, involve our communities, utilize resources wisely, embrace change, engage each other.</div>
      <h2 class="col-md-12 col-sm-12 text-left">Our Vision</h2>
      <div class="col-md-12 col-sm-12 text-left">Unlocking Potential.</div>
      </div>
    </section>
    <section class="row program">
      <div class="col-md-6 col-sm-12 text-center">
        <h2>Full-Time</h2>
        <div>
          200+ programs and pathways
          Our programs provide experiential learning, exchange opportunities and industry connections that will help you hit the ground running after graduation. Browse the list below or use the filters to the right to get started.
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <h2>Part-Time</h2>
        <div>
          Fanshawe understands the unique needs of adult learners. Whether you're looking to earn a credential, seeking professional development or wanting to fill your leisure time, we have flexible part-time studies to suit your lifestyle.
        </div>
      </div>
    </section>
    <section class="row location">
      <div class="col-md-3 col-sm-6">
        <h2>London Campus</h2>
        <div >
          1001 Fanshawe College Blvd.
          London, ON N5Y 5R6 Canada
          Tel: 519-452-4277
          Toll-Free: 1-800-717-4412
          Email: info@fanshawec.ca
        </div> 
      </div>
      <div class="col-md-3 col-sm-6">
        <h2>Simcoe Campus</h2>
        <div >
          634 Ireland Road
          Simcoe, ON N3Y 4K8
          Canada
          Tel: 519-426-8260
          Email: simcoe@fanshawec.ca
        </div> 
      </div>
      <div class="col-md-3 col-sm-6">
        <h2>St.Thomas Campus</h2>
        <div >
          120 Bill Martyn Parkway
          St. Thomas, ON N5R 6A7
          Canada
          Tel: 1-519-633-2030
          Email: stthomaselgin@fanshawec.ca
        </div> 
      </div> 
      <div class="col-md-3 col-sm-6">
        <h2>Woodstock Campus</h2>
        <div >
          369 Finkle Street
          Woodstock, ON N4V 1A3
          Canada
          Tel: 1-519-421-0144
          Toll-Free: 800-265-9257
          Email: oxford@fanshawec.ca
        </div> 
      </div> 
    </section>
    <footer class="row ft">
      <div class="col-md-12 col-sm-12">
      <i class=" fab fa-facebook-square"></i>
      <i class="fab fa-snapchat-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-envelope"></i>
      </div>
    </footer>
    
  </body>
</html>

