body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: orangered;
  }
  
  a {
    color: #00B7FF;
  }
  
  #setimg{
    height: 150px;
    width: 200px;
  }

.location{
    background-color: red;
}